@charset "utf-8";

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: #555555;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: #ff3333;
}

.edit-task-dueDate {
  // 必要に応じてスタイルを追加
  width: 100%;
  margin-bottom: 10px;
}

/* タブレット（768px） */
@media (max-width: 768px) {
  .edit-list {
    width: 90%; /* 幅を90%に設定して、タブレットの画面サイズに対応 */
  }

  .edit-list-title {
    width: 100%; /* 幅を100%に設定して、画面にフィット */
  }

  .delete-list-button, .edit-list-button {
    width: 100%; /* ボタンの幅を100%に設定して、画面幅に合わせる */
    height: auto; /* 高さを自動にして、ボタンがコンテナに収まるように */
    margin: 10px 0; /* 上下にスペースを確保 */
    font-size: 14px; /* フォントサイズを調整 */
  }
}

/* スマホ（320px） */
@media (max-width: 320px) {
  .edit-list {
    width: 100%; /* 幅を100%に設定して、画面いっぱいに広げる */
    padding: 0 10px; /* 画面の端にスペースを追加 */
  }

  .edit-list-title {
    width: 100%; /* 幅を100%に設定して、画面にフィット */
    margin-bottom: 15px; /* マージンを減少 */
  }

  .delete-list-button, .edit-list-button {
    width: 100%; /* ボタンの幅を100%に設定して、画面幅に合わせる */
    height: auto; /* 高さを自動にして、ボタンがコンテナに収まるように */
    margin: 8px 0; /* 上下にスペースを確保 */
    font-size: 12px; /* フォントサイズを調整 */
  }
}